{
    "env": {
        "production": {
            "plugins": [
                "emotion"
            ]
        },
        "development": {
            "plugins": [
                [
                    "emotion",
                    {
                        "sourceMap": true
                    },
                    "plugin-syntax-class-properties",
                    "plugin-proposal-class-properties"

                ]
            ]
        }
    }
}