html {
  --rise-1: #041122;
  --rise-2: #259073;
  --rise-3: #7fda89;
  --rise-4: #c8e98e;
  --rise-5: #e6f99d;

  --gamebookers-1: #424242;
  --gamebookers-2: #3299bb;
  --gamebookers-3: #424242;
  --gamebookers-4: #bcbcbc;
  --gamebookers-5: #e9e9e9;

  --classical-1: #4a4857;
  --classical-2: #859987;
  --classical-3: #86c28b;
  --classical-4: #77b885;
  --classical-5: #6da67a;

  --grey: #343838;
  --teal: #005f6b;
  --medium-teal: #008c9e;
  --light-teal: #00b4cc;
  --sky-blue: #00dffc;

  --never-win-1: #f2e8c4;
  --never-win-2: #98d9b6;
  --never-win-3: #3ec9a7;
  --never-win-4: #2b879e;
  --never-win-5: #616668;

  --walking-away-1: #b90504;
  --walking-away-2: #990100;
  --walking-away-3: #333333;
  --walking-away-4: #e8e8e8;
  --walking-away-5: #f6f6f6;

  --luna-rosa-1: #1d2e4c;
  --luna-rosa-2: #1a5d65;
  --luna-rosa-3: #3c8e77;
  --luna-rosa-4: #9bc585;
  --luna-rosa-5: #d2db9a;

  --vicioussans-1: #6d7578;
  --vicioussans-2: #8b9e9b;
  --vicioussans-3: #ede3b4;
  --vicioussans-4: #e6cba5;
  --vicioussans-5: #e6b39a;

  --equinorev-1: #111625;
  --equinorev-2: #341931;
  --equinorev-3: #571b3c;
  --equinorev-4: #7a1e48;
  --equinorev-5: #9d2053;

  --amaranthys-1: #411f2d;
  --amaranthys-2: #ac4147;
  --amaranthys-3: #f88863;
  --amaranthys-4: #ffc27f;
  --amaranthys-5: #ffe29a;

  --bluejay-1: #1f1f20;
  --bluejay-2: #2b4c7e;
  --bluejay-3: #567ebb;
  --bluejay-4: #606d80;
  --bluejay-5: #dce0e6;

  /* Color Theme Swatches in Hex */
  --rbadev-fk-1-hex: #edf6ee;
  --rbadev-fk-2-hex: #d1c089;
  --rbadev-fk-3-hex: #b3204d;
  --rbadev-fk-4-hex: #412e28;
  --rbadev-fk-5-hex: #151101;

  /* Color Theme Swatches in RGBA */
  --rbadev-fkl-1-rgba: #edf6ee10;
  --rbadev-fkl-2-rgba: #d1c08910;
  --rbadev-fkl-3-rgba: #b3204d10;
  --rbadev-fkl-4-rgba: #412e2810;
  --rbadev-fkl-5-rgba: #15110110;
}
